/* GENERALS */
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 66px;
}
.text_white {
  color: white;
}
.text_blue {
  color: #006aff;
}
.text_grey{
  color: #626262;
}
.spacing_1 {
  letter-spacing: -1px;
}
h1,h2,h3,h4,h5 {
  font-weight: 700;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 34px;
}
ul {
  list-style: none;
}
.font_mid {
  font-size: 23px;
}
.font_sm {
  font-size: 16px;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 14px 0;
  font-weight: 600;
  z-index: 10;
}
#navbar #logo_do {
  width: 162px;
}
#navbar #left_list {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
}
#navbar #left_list {
  margin-left: 10%;
}
#navbar #right_list {
  float:right;
}
#navbar li {
  display: inline-block;
  line-height: 37px;
  margin-right: 15px;
  text-decoration: none;
}
#navbar a {
  color: black;
}
#navbar a:hover {
  text-decoration: none;
  color: #006aff;
}
#navbar a:hover i{
  color: black;
}
#navbar li:last-child {
  margin-right: 10px;
}
#navbar #nav_sign_up {
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 8px 13px;
}
#navbar #nav_sign_up:hover {
text-decoration: none;
background-color: #006aff;
color: white;
}
#navbar .fa-bars {
  float: right;
  font-size: 26px;
  line-height: 37px;
  color: #3a8aff;
}


/* JUMBO */
#jumbo {
  min-height: 493px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-position: center bottom;
}
#jumbo > div {
  padding-top: 60px;
  padding-bottom: 60px;
}
#jumbo #title {
  padding-right: 50px;
  padding-left: 0;
}
@media screen and (max-width: 992px) {
  #jumbo #title {
    padding-right: 20px;
  }
  h1 {
  font-size: 38px;
  }
  .font_mid {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  #jumbo #title {
    padding-right: 0;
  }
}
#jumbo #sub_title {
  opacity: 0.8;
}
#jumbo #get_started {
  background-color: white;
  border-radius: 6px;
  padding: 30px 20px;
}
#jumbo #get_started input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  line-height: 36px;
  margin-bottom: 11px;
  border-radius: 5px;
}
#jumbo #get_started input::placeholder {
  font-weight: 600;
}
#jumbo #get_started a {
  display: inline-block;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 11px;
  line-height: 32px;
}
#jumbo #get_started #create {
  background-color: #579aff;
}
#jumbo #get_started #create:hover {
  text-decoration: none;
  color: white;
  background-color: #006aff;
}
#jumbo #get_started #sign_up {
  position: relative;
  box-shadow: 1px 1px #e3e3e3;
}
#jumbo #get_started #sign_up:hover {
  text-decoration: none;
  background-color: #D5E4F7;
}
#jumbo #get_started #sign_up img{
  width: 20px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
#jumbo #get_started p a{
  text-decoration: underline;
}
#jumbo #get_started #tos {
  display: inline;
}


/* LOGOS */
#logos {
  background-color: #f3f5f9;
}
#logos > div {
  padding: 20px 40px;
}
#logos h5 {
  font-size: 15px;
  margin-top: 20px;
}
#logos .row [class*="col-"] {
  height: 29vw;
  max-height: 150px;
  padding-left: 8px;
  padding-right: 8px;
}
#logos .row img {
  width: 100%;
  position: relative;
  left: 0;
  transform: translateY(-50%);
  top: 75px;
}
@media screen and (max-width: 767px) {
  #logos .row img {
    top: 12vw;
  }
}
#logos a {
font-weight: 600;
}
#logos a:hover{
  color: #005FE6;
  text-decoration: none;
}


/* DEPLOY */
#deploy {
  margin: 70px auto 60px;
}
#deploy > div {
  width: 90%;
  margin: 70px auto 0;
}
#deploy .list {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  #deploy > div {
    width: 100%;
  }
  #deploy .list ul {
    padding-left: 0;
  }
}
#deploy .row li {
  font-size: 20px;
  line-height: 48px;
  border-left: 2px solid #cccccc;
  padding-left: 11px;
}
#deploy .row li:active,
#deploy .row li:focus {
  color: #006aff;
  border-left: 2px solid #006aff;
}
#deploy .row li:hover a,
#deploy .row li:active a,
#deploy .row li:focus a{
  color: #060606;
  text-decoration: none;
}
#deploy .row li a {
  color: #626262;
}
#deploy .first.row {
  margin-bottom: 20px;
}
#deploy .row img {
  margin-bottom: 12px;
}


/* DESIGNED */
#designed {
  background-color: #f3f5f9;
  padding: 60px 0 60px;
}
#designed .font_mid {
  margin: 32px 0 60px;
}
#designed img {
  width: 53%;
  margin: 0 30px;
}
#designed img:hover {
cursor: grab;
}
@media screen and (max-width: 991px){
  #designed img {
    width: 42%;
  }
  #designed .font_mid {
    margin-bottom: 150px;
  }
  #designed .pallini {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  #designed .arrow {
    display: none;
  }
#designed img {
    width: 65%;
  }
  #designed .font_sm {
    margin: 0 70px;
  }
}
#designed .arrow {
  vertical-align: middle;
  font-size: 40px;
}
#designed [class*="fa-chevron"]:hover {
  color: #006aff;
}

#designed [class*="fa-chevron"] {
  font-size: 40px;
}
#designed .fa-chevron-left {
  color: #6f7b97;
}
#designed .fa-chevron-right {
  color: black;
}
#designed .font_sm {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
#designed .pallini {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #006aff;
  border-radius: 50%;
  margin-right: 2px;
}
#designed .pallini:active {
  background-color: #006aff;
}


/* FEATURES */
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}
#features h2 {
  margin-bottom: 35px;
}
#features .row > div {
  margin-bottom: 25px;
}
#features img {
  width: 40px;
  margin-bottom: 10px;
}
#features a {
  color: #006aff;
}
#features a:hover {
  text-decoration: none;
}


/* WORLD */
#world {
  padding-top: 60px;
  padding-bottom: 20px;
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 68%, rgba(0,30,154,1) 100%);
}
#world h2 {
  margin-bottom: 20px;
}
#world [class*="col-"] {
  margin-bottom: 40px;
}
#world h5 {
  float: left;
  width: 50px;
  text-transform: uppercase;
  margin: 0 55px 0 16px;
  line-height: 20px;
}
#world p {
  display: inline;
  line-height: 20px;
}
#world a {
  display: block;
  float: right;
  margin-right: 16px;
}
#world p {
  opacity: 0.7;
}
#world a {
  color: #00d5d2;
}
#world a:hover {
  color: #0F2656;
  text-decoration: none;
}
#world hr {
  margin-top: 9px;
  margin-bottom: 9px;
}


/* ROCKERBOX */
#rockerbox {
  background-color: #f3f5f9;
  padding: 60px 0 60px;
}
#rockerbox h2 {
  margin: 10px 0 80px;
}
#rockerbox .rockerbox {
  display: inline-block;
  width: 53%;
  padding: 75px 0;
  margin: 0 30px;
  background-color: white;
  vertical-align: middle;
}
#rockerbox .rockerbox:hover {
cursor: grab;
}
@media screen and (max-width: 991px){
  #rockerbox .rockerbox {
    width: 42%;
  }
  #rockerbox .font_mid {
  }
  #rockerbox .pallini {
  }
}
@media screen and (max-width: 767px) {
  #rockerbox .arrow {
    display: none;
  }
#rockerbox .rockerbox {
    width: 65%;
  }
  #rockerbox .font_sm {
  }
}
#rockerbox .rockerbox img {
  margin-bottom: 20px;
}
#rockerbox .rockerbox h5 {
  margin-top: 12px;
  margin-bottom: 2px;
}
#rockerbox .rockerbox a {
  text-decoration: none;
}
#rockerbox .rockerbox #co-founder {
  font-size: 16px;
  margin-bottom: 32px;
}
#rockerbox .arrow {
  vertical-align: middle;
  font-size: 40px;
}
#rockerbox [class*="fa-chevron"] {
  font-size: 40px;
}
#rockerbox [class*="fa-chevron"]:hover {
  color: #006aff;
}
#rockerbox .fa-chevron-left {
  color: #6f7b97;
}
#rockerbox .fa-chevron-right {
  color: black;
}
#rockerbox .font_sm {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
#rockerbox .font_sm span {
  margin-left: 10px;
}
#rockerbox .wrapper_pallini {
  margin-top: 13px;
}
#rockerbox .pallini {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #006aff;
  border-radius: 50%;
  margin-right: 2px;
}
#rockerbox .pallini:active {
  background-color: #006aff;
}


/* GET STARTED NOW */
#get_started_now {
  padding-top: 50px;
  padding-bottom: 60px;
  background: rgb(0,66,187);
  background: linear-gradient(180deg, rgba(0,66,187,1) 68%, rgba(0,32,155,1) 100%);
}

#get_started_now button {
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 16px;
  border-radius: 5px;
  border: 0;
  background-color: white;
}
#get_started_now button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* FOOTER */
footer{
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #031c4e;
}
footer #logo_sm {
}
footer ul {
  padding-left: 0;
  opacity: 0.7;
}
footer h5 {
  font-size: 17px;
}
footer ul li {
  line-height: 32px;
}
