/* GENERALS */
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 66px;
  min-width: 370px;
}
.text_white {
  color: white;
}
.text_blue {
  color: #006aff;
}
.text_dark_blue {
  color: #031c4e;
}
.text_grey{
  color: #626262;
}
.spacing_1 {
  letter-spacing: -1px;
}
h1,h2,h3,h4,h5 {
  font-weight: 700;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 34px;
}
h2,h4 {
  color: #031c4e;
}
ul {
  list-style: none;
}
.font_mid {
  font-size: 23px;
}
.font_sm {
  font-size: 16px;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 14px 0;
  font-weight: 600;
  z-index: 10;
  box-shadow: 0 1px #d3d3d3;
}
#navbar #logo_do {
  width: 162px;
}
#navbar ul {
  margin-bottom: 0;
  line-height: 47px;
}
#navbar #left_list {
  display: inline-block;
  padding-left: 0;
}
#navbar #left_list {
  margin-left: 10%;
}
#navbar #right_list {
  float: right;
}
#navbar li {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}
#navbar a {
  color: #031c4e;
}
#navbar a:hover {
  text-decoration: none;
  color: #006aff;
}
#navbar a:hover i{
  color: #031c4e;
}
#navbar li:last-child {
  margin-right: 10px;
}
#navbar #nav_sign_up {
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 8px 13px;
}
#navbar #nav_sign_up:hover {
text-decoration: none;
background-color: #006aff;
color: white;
}
#navbar .fa-bars {
  float: right;
  font-size: 26px;
  line-height: 37px;
  color: #3a8aff;
}


/* JUMBO */
#jumbo {
  min-height: 493px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-position: center bottom;
}
#jumbo > div {
  padding-top: 60px;
  padding-bottom: 60px;
}
#jumbo #title {
  padding-right: 50px;
  padding-left: 0;
}
@media screen and (max-width: 992px) {
  #jumbo #title {
    padding-right: 20px;
  }
  h1 {
  font-size: 38px;
  }
  .font_mid {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  #jumbo {
    padding: 0 15px;
  }
  #jumbo #title {
    padding-right: 0;
  }
}
#jumbo #sub_title {
  opacity: 0.8;
}
#jumbo #get_started {
  background-color: white;
  border-radius: 6px;
  padding: 30px 20px;
}
#jumbo #get_started input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  line-height: 36px;
  margin-bottom: 11px;
  border-radius: 7px;
}
#jumbo #get_started input::placeholder {
  font-weight: 600;
}
#jumbo #get_started a {
  display: inline-block;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 11px;
  line-height: 32px;
}
#jumbo #get_started #create {
  background-color: #579aff;
}
#jumbo #get_started #create:hover {
  text-decoration: none;
  color: white;
  background-color: #006aff;
}
#jumbo #get_started #sign_up {
  position: relative;
  box-shadow: 1px 1px 3px #c3c3c3;
}
#jumbo #get_started #sign_up:hover {
  text-decoration: none;
  background-color: #D5E4F7;
}
#jumbo #get_started #sign_up img{
  width: 20px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
#jumbo #get_started p a{
  text-decoration: underline;
}
#jumbo #get_started #tos {
  display: inline;
}


/* LOGOS */
#logos {
  background-color: #f3f5f9;
}
#logos > div {
  padding: 20px 40px;
}
#logos h5 {
  color: #6f7b97;
  margin-top: 20px;
}
#logos .row > div {
  height: 22vw;
  max-height: 140px;
  padding-left: 8px;
  padding-right: 8px;
  background-size: 92% auto;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  #logos .row {
    margin-top: 30px;
  }
  #logos .row > div {
    height: 22vw;
    min-height: 86px;
    max-height: 168px;
    background-size: 83% auto;
  }
}
#logos #docker {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/docker-bab60eeb.png);
}
#logos #gitlab {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/gitlab-166e2067.png);
}
#logos #slack {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/slack-e20293da.png);
}
#logos #hashicorp {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/hashicorp-4431df79.png);
}
#logos #wework {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/wework-be6eab32.png);
}
#logos #splunk {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/logos/splunk-06b17d75.png);
}
#logos a {
font-weight: 600;
}
#logos a:hover{
  color: #005FE6;
  text-decoration: none;
}


/* DEPLOY */
#deploy {
  margin: 70px auto 60px;
}
#deploy > div {
  width: 90%;
  margin: 70px auto 0;
}
#deploy .list {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  #deploy > div {
    width: 100%;
  }
  #deploy .list ul {
    padding-left: 0;
  }
}
#deploy .row li {
  font-size: 20px;
  line-height: 48px;
  border-left: 2px solid #cccccc;
  padding-left: 11px;
}
#deploy .row li:active,
#deploy .row li:focus {
  color: #006aff;
  border-left: 2px solid #006aff;
}
#deploy .list li:first-child span,
#deploy .row li:hover span,
#deploy .row li:active span,
#deploy .row li:focus span {
  color: #060606;
  text-decoration: none;
  cursor: pointer;
}
#deploy .row li a {
  color: #626262;
}
#deploy .first.row {
  margin-bottom: 20px;
}
#deploy .row img {
  margin-bottom: 12px;
}


/* DESIGNED */
#designed {
  background-color: #f3f5f9;
  padding: 60px 0 60px;
}
#designed .font_mid {
  margin: 32px 0 60px;
}
#designed img {
  width: 53%;
  margin: 0 15px;
}
#designed img:hover {
cursor: grab;
}
@media screen and (max-width: 991px){
  #designed img {
    width: 42%;
  }
  #designed .font_mid {
    margin-bottom: 150px;
  }
  #designed .pallini {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  #designed img {
    width: 65%;
  }
  #designed .font_sm {
    margin: 0 70px;
  }
}
#designed .glyphicon:hover {
  color: #006aff;
  cursor: pointer;
}
#designed .glyphicon {
  vertical-align:text-top;
  font-size: 30px;
}
#designed .glyphicon-chevron-left {
  color: #6f7b97;
}
#designed .glyphicon-chevron-right {
  color: #031c4e;
}
#designed .font_sm {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
#designed .pallini {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #006aff;
  border-radius: 50%;
  margin-right: 2px;
}
#designed .pallini:hover {
  cursor: pointer;
}
#designed .pallini:active {
  background-color: #006aff;
}


/* FEATURES */
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}
#features h2 {
  margin-bottom: 35px;
}
#features .row > div {
  margin-bottom: 25px;
}
#features img {
  width: 40px;
  margin-bottom: 10px;
}
#features a {
  color: #006aff;
}
#features a:hover {
  text-decoration: none;
  color: #003acf;
}


/* WORLD */
#world {
  padding-top: 60px;
  padding-bottom: 20px;
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 68%, rgba(0,30,154,1) 100%);
}
#world h2 {
  margin-bottom: 20px;
}
#world [class*="col-"] {
  margin-bottom: 40px;
}
#world h5 {
  float: left;
  width: 50px;
  text-transform: uppercase;
  margin: 0 55px 0 16px;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  #world h5 {
    margin-right: 5%;
  }
}
#world p {
  display: inline;
  line-height: 20px;
}
#world a {
  display: block;
  float: right;
  margin-right: 16px;
}
#world p {
  opacity: 0.7;
}
#world a {
  color: #00d5d2;
}
#world a:hover {
  color: #0F2656;
  text-decoration: none;
}
#world hr {
  margin-top: 9px;
  margin-bottom: 9px;
}


/* ROCKERBOX */
#rockerbox {
  background-color: #f3f5f9;
  padding: 60px 0 60px;
}
#rockerbox h2 {
  margin: 10px 0 80px;
}
#rockerbox .rockerbox {
  display: inline-block;
  width: 53%;
  padding: 75px 0;
  margin: 0 15px;
  background-color: white;
  vertical-align: middle;
}
#rockerbox .rockerbox:hover {
cursor: grab;
}
@media screen and (max-width: 991px){
  #rockerbox .rockerbox {
    width: 42%;
  }
}
@media screen and (max-width: 767px) {
#rockerbox .rockerbox {
    width: 65%;
  }
}
#rockerbox .rockerbox img {
  margin-bottom: 20px;
  max-width: 90%;
}
#rockerbox .rockerbox h5 {
  margin-top: 12px;
  margin-bottom: 2px;
}
#rockerbox .rockerbox a {
  text-decoration: none;
}
#rockerbox .rockerbox #co-founder {
  font-size: 16px;
  margin-bottom: 32px;
}
#rockerbox .glyphicon {
  font-size: 30px;
  vertical-align: middle;
}
#rockerbox .glyphicon:hover {
  color: #006aff;
  cursor: pointer;
}
#rockerbox .glyphicon-chevron-left {
  color: #6f7b97;
}
#rockerbox .glyphicon-chevron-right {
  color: #031c4e;
}
#rockerbox .font_sm {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
#rockerbox .font_sm span {
  margin-left: 10px;
}
#rockerbox .wrapper_pallini {
  margin-top: 13px;
}
#rockerbox .pallini {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #006aff;
  border-radius: 50%;
  margin-right: 2px;
}
#rockerbox .pallini:hover {
  cursor: pointer;
}
#rockerbox .pallini:active {
  background-color: #006aff;
}


/* GET STARTED NOW */
#get_started_now {
  padding-top: 50px;
  padding-bottom: 60px;
  background: rgb(0,66,187);
  background: linear-gradient(180deg, rgba(0,66,187,1) 68%, rgba(0,32,155,1) 100%);
}

#get_started_now button {
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 16px;
  border-radius: 5px;
  border: 0;
  background-color: white;
}
#get_started_now button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* FOOTER */
footer{
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #031c4e;
}
footer #logo_sm {
  margin-bottom: 12px;
}
footer a {
  color: white;
}
footer .row [class*="col-"]:first-child #logo_sm,
footer .row [class*="col-"]:first-child #copyright {
  opacity: 0.70;
  margin-bottom: 10px;
}
footer .row [class*="col-"]:first-child #proudly,
footer .row [class*="col-"]:first-child a:not(:first-child) {
  opacity: 0.6;
}
footer .row [class*="col-"]:first-child #copyright {
  margin-bottom: 0;
}
footer .row [class*="col-"]:first-child a {
  font-size: 24px;
  margin-right: 10px;
}
footer ul{
  padding-left: 0;
}
footer ul li a{
  opacity: 0.75;
}
footer a:hover {
  color: white;
  opacity: 1 !important;
  text-decoration: none;
}
footer h5 {
  font-size: 17px;
}
footer ul li {
  line-height: 32px;
}


/* SHARK */
footer .chat {
  position: fixed;
  left: 40px;
  bottom: 40px;
}
footer .chat #shark-wrapper {
  display: block;
  position: relative;
  background-color: #006aff;
  width: 60px;
  height: 60px;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
footer .chat img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  footer .chat {
    left: auto;
    right: 40px;
  }
  footer .chat #shark-wrapper {
    float: right;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 20px;
  }
}
footer .chat #message_number {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 24px;
  background-color: red;
  border: 4px solid white;
  border-radius: 50%;
}
footer .chat p {
  display: inline-block;
  background-color: white;
  padding: 10px 10px;
  margin-bottom: 0;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 0 2px #c3c3c3;

}
footer .glyphicon {
  color: white;
  font-size: 16px;
  margin-left: -8px;
  filter: drop-shadow(1px 0 #d3d3d3);
}
